<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Trang Admin</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    
   
    <link rel="apple-touch-icon" sizes="180x180" href="~/admin/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/admin/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/admin/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/admin/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    
    <script src="~/admin/assets/js/config.js"></script>
    <script src="~/admin/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="~/admin/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/admin/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
  
    <link href="~/admin/vendors/prism/prism-okaidia.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="~/admin/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="~/admin/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="~/admin/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="~/admin/assets/css/user.min.css" rel="stylesheet" id="user-style-default">

    <link href="~/admin/vendors/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />
    <link href="~/admin/vendors/jquery-multiselect/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/admin/vendors/jquery-multiselect/style.css" rel="stylesheet" />
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>
    <main class="main" id="top">
      <div class="mx-3" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>


        <!-- Navbar -->
        <partial name="_Navbar" />
        <!-- End Navbar -->


        <div class="content">

          <!-- Header -->
                <partial name="_Header" />
          <!-- End Header -->
         
         @RenderBody()

          <footer class="footer">
            <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Trương Công Phi <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2024 &copy; </p>
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600"></p>
              </div>
            </div>
          </footer>
        </div>
        
 
      </div>
        <div id="toast" class="position-fixed top-1 end-0 p-3" style="z-index: 1000;">
        </div>
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/admin/vendors/popper/popper.min.js"></script>
     <script src="~/admin/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/admin/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/admin/vendors/choices/choices.min.js"></script>
    <script src="~/admin/vendors/is/is.min.js"></script>
    <script src="~/admin/vendors/prism/prism.js"></script>
    <script src="~/admin/vendors/fontawesome/all.min.js"></script>
    <script src="~/admin/vendors/lodash/lodash.min.js"></script>
    <script src="~/admin/vendors/list.js/list.min.js"></script>
    <script src="~/admin/assets/js/theme.js"></script>
    <script src="~/admin/vendors/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/admin/vendors/jquery-multiselect/jquery.multiselect.js"></script>
    <script src="~/admin/vendors/jquery-multiselect/main.js"></script>
    <script src="~/admin/assets/js/flatpickr.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
  </body>

</html>